body{
    margin:0;
    background: #fdf6f0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    padding: 25px;
}
.container{
    width: 350px;
    background: #ffffff;
    padding:20px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgb(72, 71, 71)
}
h1,h2,h3{
    text-align: center;
    color: #d47fa6;
}
.mood-buttons{
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}
.mood{
    background: #fce4ec;
    border:none;
    font-size:22px;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
    transition: transform .2s;
}
.mood:hover {
  transform: scale(1.2);
}
textarea{
    width: 100%;
    height:80px;
    border-radius: 10px;
    border:1px solid #ffd1dc;
    outline: none;
    margin-bottom: 15px;
}
.save-btn{
    width:100%;
    background: #ffb6c1;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor:pointer;
    transition: .2s;
}
.save-btn:hover{
    background: #ff99aa;
}
.entry-card{
      background: #fff7fa;
      padding: 10px;
      border-radius: 10px;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      border: 1px solid #ffd1dc;
}

